  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter&family=Poppins:wght@500&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

nav{
    background-color:#4F5D75 ;
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}

nav li{
    list-style: none;
    padding: 1.5rem;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover{
    color: #4F5D75;
    background-color: white;
}

main{
    background-color: #2D3142;
    color: white;
    display: flex;
    justify-content: center;
}

.container1{
    margin: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.containerSlogan{
    width: 25%;
    text-align: left;
}