  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter&family=Poppins:wght@500&family=Quicksand:wght@400;500;700&family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

nav{
    background-color:#4F5D75 ;
    color: white;
}

nav ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    
}

nav li{
    list-style: none;
    padding: 1.5rem;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.3s;
}

nav a:hover{
    color: #4F5D75;
    background-color: white;
}

main{
    background-color: #2D3142;
    color: white;
    
}

.container1{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container1 div{
    margin-top: 2rem;
}
.containerSlogan{
    width: 25%;
    text-align: left;
    
}

.container2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


 .container2 aside{
    margin: 1rem;
    padding: 1.5rem;
}

.container3{
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container3 div{
    padding: 2rem;
    width: 90%;
}
.deskripsi{
    width: 65%;
    background-color: #4F5D75;
    text-align: center;
    border-radius: 2rem;
}
aside{
    width: 35%;
    text-align: center;
}

aside article{
    margin: 1.5rem;
}

aside img{
    max-width: 100%;
    height: auto;
}

.layanan{
    background-color: #4F5D75;
    border-radius: 2rem;
    margin: 2rem;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.kumpulanLayanan{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}

.kumpulanLayanan article{
    color: rgb(255, 245, 245);
    background-color: #adbca5;
    padding: 2rem;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 1.5rem;
}



.kumpulanLayanan article:hover{
    transform: scale(1.1,1.1);
}
